
.footer__box {
  width: 1352px;
  margin: 0 auto;
  display: flex;
  justify-content:center;
}
.footer__box__1 {
  margin-right: 700px;
}
.footer__box__2 {
  margin-top: 30px;
}
.facebook,
.twitter {
  text-decoration: none;
  margin-right: 10px;
}
.footer__name {
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
  color: var(--color-primary);
  margin: 10px;
}
.footer__license {
  margin: 10px;
}
.form__name {
  font-family: "Open Sans";
  font-size: 19px;
  color: #08A6E4;
}